<nav class="navbar navbar-light bg-light">
  <ul class="nav nav-pills bg-light">
    <li class="nav-item">
      <a class="nav-link" routerLink="accueil" routerLinkActive="active-link">Accueil</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="liste-chien" routerLinkActive="active-link">Liste</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="ajouter-chien" routerLinkActive="active-link">Ajouter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="secret" routerLinkActive="active-link">Secret</a>
    </li>
  </ul>
</nav>